.btn {
    width: 40px;
    height: 40px;
    /* background: var(--color-purple-2);  */
    color: var(--color-white-1);
    transition: opacity 0.2s; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: bold;
    
}

.btn.btn-bg1{
    background: var(--color-purple-2); 
}

.btn.btn-bg2{
    background: var(--color-purple-3); 
}

.btn:hover {
    opacity: 0.8;
}